* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.extension__title {
    text-align: center;
}

.input-field > label {
    font-weight: bold;
    display: flex;
    flex-direction: column;
}

.input-field > input {
    width: 100%;
}

.extension__popup {
    width: 200px;
    padding: 6px;
}

.extension__controls {
    display: flex;
    flex-direction: column;
}

.extension__controls > * {
    margin-bottom: 5px;
}

.extension__controls > *:last-child {
    margin-bottom: 0px;
}